@import url("https://use.typekit.net/tiv0lyh.css");
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-path-left {
    clip-path: polygon( 97.5% 100%,23.25% 100%,23.25% 100%,22.66% 99.969%,22.077% 99.878%,21.504% 99.726%,20.943% 99.517%,20.397% 99.25%,19.868% 98.927%,19.359% 98.55%,18.872% 98.118%,18.41% 97.635%,17.975% 97.1%,2.225% 76.3%,2.225% 76.3%,1.816% 75.72%,1.446% 75.101%,1.116% 74.447%,0.826% 73.762%,0.578% 73.05%,0.373% 72.314%,0.211% 71.557%,0.095% 70.783%,0.024% 69.996%,0% 69.2%,0% 3.333%,0% 3.333%,0.033% 2.795%,0.128% 2.283%,0.28% 1.805%,0.484% 1.368%,0.734% 0.979%,1.026% 0.645%,1.354% 0.374%,1.712% 0.171%,2.096% 0.044%,2.5% 0%,97.5% 0%,97.5% 0%,97.904% 0.044%,98.288% 0.171%,98.646% 0.374%,98.974% 0.645%,99.266% 0.979%,99.516% 1.368%,99.72% 1.805%,99.872% 2.283%,99.967% 2.795%,100% 3.333%,100% 96.667%,100% 96.667%,99.967% 97.206%,99.872% 97.717%,99.72% 98.195%,99.516% 98.632%,99.266% 99.021%,98.974% 99.355%,98.646% 99.627%,98.288% 99.829%,97.904% 99.956%,97.5% 100% );
}
.clip-path-right {
     clip-path: polygon( 97.5% 100%,23.25% 100%,23.25% 100%,22.66% 99.969%,22.077% 99.878%,21.504% 99.726%,20.943% 99.517%,20.397% 99.25%,19.868% 98.927%,19.359% 98.55%,18.872% 98.118%,18.41% 97.635%,17.975% 97.1%,2.225% 76.3%,2.225% 76.3%,1.816% 75.72%,1.446% 75.101%,1.116% 74.447%,0.826% 73.762%,0.578% 73.05%,0.373% 72.314%,0.211% 71.557%,0.095% 70.783%,0.024% 69.996%,0% 69.2%,0% 3.333%,0% 3.333%,0.033% 2.795%,0.128% 2.283%,0.28% 1.805%,0.484% 1.368%,0.734% 0.979%,1.026% 0.645%,1.354% 0.374%,1.712% 0.171%,2.096% 0.044%,2.5% 0%,97.5% 0%,97.5% 0%,97.904% 0.044%,98.288% 0.171%,98.646% 0.374%,98.974% 0.645%,99.266% 0.979%,99.516% 1.368%,99.72% 1.805%,99.872% 2.283%,99.967% 2.795%,100% 3.333%,100% 96.667%,100% 96.667%,99.967% 97.206%,99.872% 97.717%,99.72% 98.195%,99.516% 98.632%,99.266% 99.021%,98.974% 99.355%,98.646% 99.627%,98.288% 99.829%,97.904% 99.956%,97.5% 100% );
 }


.clip-slide-vertical{
    clip-path: polygon( 74.17% 98.878%,0.515% 98.878%,0.515% 0.53%,99.525% 0.53%,99.525% 64.152%,99.525% 64.152%,99.485% 65.54%,99.367% 66.907%,99.173% 68.245%,98.904% 69.548%,98.565% 70.807%,98.155% 72.017%,97.678% 73.169%,97.136% 74.257%,96.531% 75.273%,95.865% 76.21%,81.363% 94.859%,81.363% 94.859%,80.743% 95.602%,80.093% 96.274%,79.417% 96.872%,78.717% 97.395%,77.996% 97.842%,77.257% 98.211%,76.502% 98.501%,75.734% 98.709%,74.955% 98.836%,74.17% 98.878% );
}
@media screen and ( max-width: 767px ) {
    .clip-slide-vertical{
        clip-path: polygon( 99.932% 74.362%,99.932% 0.056%,0.068% 0.056%,0.068% 99.944%,64.671% 99.944%,64.671% 99.944%,66.081% 99.904%,67.469% 99.785%,68.828% 99.589%,70.152% 99.318%,71.432% 98.974%,72.66% 98.561%,73.831% 98.079%,74.935% 97.531%,75.967% 96.92%,76.918% 96.247%,95.849% 81.623%,95.849% 81.623%,96.606% 80.995%,97.289% 80.338%,97.897% 79.655%,98.428% 78.949%,98.882% 78.221%,99.256% 77.476%,99.549% 76.714%,99.761% 75.94%,99.889% 75.155%,99.932% 74.362% );
    }
}

path{
    @apply transition-all duration-500;
}

select::-ms-expand {
    display: none;
}

.button{
    @apply rounded-md clip-path-left bg-logo-yellow text-white py-4 px-8 font-semibold cursor-pointer uppercase;
}
